#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes electron-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes electron-spin-reverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

/* Este contenedor rota alrededor del centro */
.electron-orbit {
  transform-origin: 0 0; /* funciona bien porque lo posicionamos en left/top 50% */
}

/* Animación de giro */
.electron-spin {
  animation: electron-spin linear infinite;
}

.electron-spin-reverse {
  animation: electron-spin-reverse linear infinite;
}